<!-- Widgets -->
            <div class="row clearfix" >
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="info-box mirabella hover-expand-effect">
                        <div class="content">
                            <div class="text">GRID USAGE $:</div>
                            <div class="number count-to" data-from="0" data-to="12"   data-speed="15" data-fresh-interval="20">{{products[0].gridUsage}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="info-box mirabella hover-expand-effect">
                        <!--<div class="icon">
                            <i class="material-icons">help</i>
                        </div> -->
                        <div class="content">
                            <div class="text">BATTERY VOLTAGE V:</div>

                            <div class="number count-to" data-from="0" data-to="17" data-speed="1000" data-fresh-interval="20">{{products[0].BVoltage}}</div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="info-box mirabella hover-expand-effect">
                        
                        <div class="content">
                            <div class="text">PANEL VOLTAGE V:</div>
                            <div class="number count-to" data-from="0" data-to="12" data-speed="1000" data-fresh-interval="20">{{products[0].pVoltage}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="info-box mirabella hover-expand-effect">
                        
                        <div class="content">
                            <div class="text">BATTERY CURRENT A:</div>
                            <div class="number count-to" data-from="0" data-to="7" data-speed="1000" data-fresh-interval="20">{{products[0].bCurrent}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="info-box mirabella hover-expand-effect">
                        
                        <div class="content">
                            <div class="text">PANEL CURRENT A:</div>
                            <div class="number count-to" data-from="0" data-to="12" data-speed="1000" data-fresh-interval="20">{{products[0].pCurrent}}</div>
                        </div>
                    </div>
                       </div>
                <div class="col-lg-2 col-md-1 col-sm-6 col-xs-12">
                     <div class="info-box mirabella hover-expand-effect">
                        
                        <div class="content">   
                            <div class="text">TEMPERATURE F:</div>
                            <div class="number count-to" data-from="0" data-to="57" data-speed="1000" data-fresh-interval="20">{{products[0].temp}}</div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- #END# Widgets -->
           




